.notificationloader.container {
    position: fixed;
    z-index: 9999999999999;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 120px;
    width: 400px;
  }
  .notificationloader.overlay{
    display: none;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background:#69676763;
  }

  .notificationloader.loader-gif{
    height:200px;
    width:200px;
    display: none;
  }
  .notificationloader.img-overlay{
    padding-top:20vh;
  }

  .notificationloader.notification {
    display: none;
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0.0625rem 0.0625rem 0.0925rem #2d794b;
    padding: 20px;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
  .notificationloader.notification .notification-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    line-height: 19px;
    text-align: center;
  }
  .notificationloader.notification .notification-title,
  .notificationloader.notification .notification-message {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  .notificationloader.notification .notification-title {
    margin-top:0px;
    font-size: 16px;
    font-weight: 600;
  }
  .notificationloader.notification .notification-message {
    font-weight: 400;
    font-size: 14px;
  }
  .notificationloader.static{
      text-align: center;
  }
  .notificationloader.success {
    background: #5ed490;
  }
  .notificationloader.success .notification-close {
    border: 1px solid #2d794b;
    color: #2d794b;
  }
  .notificationloader.danger {
    background: #f56668;
  }
  .notificationloader.danger .notification-close {
    border: 1px solid #ba4849;
    color: #ba4849;
  }
  .notificationloader.info,.headercss .static {
    background: #2a7ac0;
  }
  .notificationloader.info .notification-close {
    border: 1px solid #08345b;
  }
  .notificationloader.warning {
    background: #e5a300;
  }
  .notificationloader.warning .notification-close {
    border: 1px solid #996d00;
  }  