<div class="headercss">
        <nav id="nav-bar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand animated flip" href="/">SkillerBot</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="loggedIn">
                                <a href="/signup">Login</a>
                            </li>
                            <li class="home">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#portfolio">About Us</a>
                            </li>
                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>
                            <li class="loggedOut">
                                <a href="#" onclick="logout()">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <script>
                var link=document.createElement("link");
                    link.rel="stylesheet";
                    link.href="/css/header-footer.css";
                    document.querySelector('head').appendChild(link);
                    $('.navbar-toggle.collapsed').click(function(){
                        if ( $('#navbar-collapse-1').is( ":hidden" ) ) {
                            $('#navbar-collapse-1').slideDown( "fast" );
                        } else {
                            $('#navbar-collapse-1').slideUp( "fast" );
                        }
                        
                    });
                    if(getCookie("token")){
                        $('.loggedIn').hide();
                        $('.home').show();
                        $('.loggedOut').show();
                    }else{
                        $('.loggedIn').show();
                        $('.home').hide();
                        $('.loggedOut').hide();
                    }
                    
                function logout(){
                    // document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    delete_cookie('token');
                    delete_cookie('hashid');
                    window.location.href='/logout';
                }
        
                function getCookie(cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
        
                function delete_cookie( name) {
                    if( getCookie( name ) ) {
                        document.cookie = name + "=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT";
                    }
                }
        


                function share(){
                    var twitterShare = document.querySelector('.tw-share');
                    var facebookShare = document.querySelector('.fb-share');
                        if(twitterShare && facebookShare){
                            twitterShare.onclick = function(e) {
                                e.preventDefault();
                                var twitterWindow = window.open('https://twitter.com/share?url=' + document.URL, 'twitter-popup', 'height=350,width=600');
                                if(twitterWindow.focus) { twitterWindow.focus(); }
                                    return false;
                            }
                            facebookShare.onclick = function(e) {
                                e.preventDefault();
                                var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(e.target.href)+'&amp;src=sdkpreparse','facebook-share-dialog','width=626,height=436');
                                if(facebookWindow.focus) { facebookWindow.focus(); }
                                    return false;
                            }

                        }
                }
                $(document).ready(function(){
                    share();
                })
            </script>
</div>
<%- include notifications.ejs %>